#email:invalid {
  border-color: red
}

#email: valid {
  border-color: black
}

#nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
}

ul {
  //position: fixed;
    //top: 0px;
    //width: 100%;
  width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: green;
}

 @media (max-width: 650px) {
      flex-direction: column;
    }
